@import "_base";

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
}

.bg {
  position: absolute;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  @include f-cc;
}

.guide {
  margin-top: 10px;
  min-width: 550px;
  @include f-co-cen;

  .title {
    font-size: 1.3em;
    margin-bottom: 10px;
  }

  .step {
    font-size: 1.2em;
  }
}

.content {
  margin-top: 30px;
  gap: 20px;
  @include f-co-cen;
}

input {
  width: 80%;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 1px solid $primary;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s linear;

  &:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.left {
  width: 100%;
  height: 100%;
  background: $bg;
  @include f-co-cen;

  // header
  .logo {
    @include f-co-cen;
    margin-top: 30px;

    img {
      width: 200px;
    }
  }

  .selector {
    width: 200px;
    height: 150px;
    @include f-cc;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(81, 173, 204);
    color: white;
  }

  .command {
    max-width: 80%;
    white-space: nowrap;
    height: 70px;
    display: flex;
    align-items: center;
    overflow: auto;
    background-color: #000;
    padding: 0 20px;
    color: white;
    border-radius: 10px;

    &::-webkit-scrollbar {
      width: 0;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: black;
    }

    &::-webkit-scrollbar-thumb {
      background: white;
    }
  }

  .choices {
    display: flex;
    justify-content: space-evenly;
  }
}

.right {
  position: relative;
  display: none;
  // width: 100%;
  // use jquery to set animation
  height: 100%;
  background: #aaa;
  overflow: auto;

  #editor {
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
}
