@import "_base";

.main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  overflow: hidden;
}

.languageChoices {
  position: absolute;
  top: 20px;
  left: 20px;
}

.no-select {
  cursor: pointer;
  user-drag: none;
  -moz-user-select: none; /* Firefox */
  -webkit-user-drag: none; /* Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.green {
  color: #0cff00;
}

.red {
  color: red;
}

.bg {
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  @include f-cc;

  * {
    user-select: none;
    pointer-events: none;
  }

  img {
    position: absolute;
    width: 200px;
    height: 200px;
  }

  #img1 {
    animation: img1 1s infinite;
  }

  #img2 {
    animation: img2 1s infinite;
  }

  #load {
    margin-top: 300px;
    font-size: 50px;
  }

  @keyframes img1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes img2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.scratch {
  left: 0;
  bottom: 20px;
}
.steps {
  position: relative;
  min-width: 700px;
  min-height: 500px;

  .back {
    position: absolute;
    left: 0;
    bottom: 20px;
  }

  .next {
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}

.guide {
  margin-top: 10px;
  min-width: 550px;
  @include f-co-cen;

  .title {
    font-size: 1.3em;
    margin-bottom: 10px;
  }

  .step {
    font-size: 1.2em;
  }
}

.content {
  margin-top: 30px;
  gap: 20px;
  @include f-co-cen;
}

input {
  width: 80%;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 1px solid $primary;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s linear;

  &:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.left {
  width: 100%;
  height: 100%;
  background: $bg;
  overflow: auto;
  @include f-co-cen;

  // header
  .logo {
    @include f-co-cen;
    margin-top: 30px;

    img {
      width: 200px;
    }
  }

  .selector {
    width: 200px;
    height: 150px;
    @include f-cc;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(81, 173, 204);
    color: white;
  }

  .command {
    max-width: 80%;
    white-space: nowrap;
    height: 70px;
    display: flex;
    align-items: center;
    overflow: auto;
    background-color: #000;
    padding: 0 20px;
    color: white;
    border-radius: 10px;

    &::-webkit-scrollbar {
      width: 0;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: black;
    }

    &::-webkit-scrollbar-thumb {
      background: white;
    }
  }

  .choices {
    display: flex;
    justify-content: space-evenly;
  }

  .tutorial {
    display: center;
 }

  .tutorialCat {
    margin-left: 20px;
  }

  .tutorialDog {
    margin-left: 40px;
  }

  .tutorialSquirrel {
    margin-right: 30px;
  }

  .thanks {
    display: flex;
  }

  .tutorialbtn {
    width: 200px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
      user-select: none;
    background-color: rgb(81, 173, 204);
    color: white;
    border: none;
    transition: all 0.2s ease-in-out;
    top: 0px;
    
  }

  .centered-text {
    text-align: center;
  }

  .text-box {
    width: 70%;
    height: 200px;
    border: 1px solid black;
    padding: 10px 20px;
    overflow: auto;

    .text-box-code {
      width: 70%;
      height: 200px;
      border: 1px solid black;
      padding: 10px 20px;
      overflow: auto;
    }
  
    &::-webkit-scrollbar {
      width: 2px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: white;
    }

    p {
      margin-bottom: 8px;
    }

  }
}

.right {
  position: relative;
  display: none;
  // width: 100%;
  // use jquery to set animation
  height: 100%;
  background: #aaa;
  overflow: auto;
}

#editor {
  width: 100%;
  height: 100%;
  font-size: 18px;
}
