<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scratch To Python Converter</title>
    <link
      rel="stylesheet"
      href="{{prefix}}{{ url_for('static', filename='css/main.css') }}"
    />
    <!-- icon -->
    <link
      rel="shortcut icon"
      href="{{prefix}}{{ url_for('static', filename='img/logo.png') }}"
    />
  </head>

  <body class="light">
    <div class="bg" style="display: none">
      <p style="color: white" id="load">{{ loading }}</p>
      <img
        src="{{prefix}}{{ url_for('static', filename='img/cat1.svg') }}"
        alt=""
        id="img1"
      />
      <img
        src="{{prefix}}{{ url_for('static', filename='img/cat2.svg') }}"
        alt=""
        id="img2"
      />
    </div>
    <div class="main" id="app">
      <div class="left">
        <!-- -->
        {% include 'components/header.html' %}
        <!-- -->
        {% include 'components/step1.html' %}
        <!-- -->
        {% include 'components/step2_link.html' %}
        <!-- -->
        {% include 'components/step2_file.html' %}
        <!-- -->
        {% include 'components/step3.html' %}
        <!-- -->
        {% include 'components/step4.html' %}
        <!-- -->
        {% include 'components/tutorial_dog.html' %}
        <!-- -->
        {% include 'components/tutorial_dog_part2.html' %}
        <!-- -->
        {% include 'components/tutorial_dog_part3.html' %}
        <!-- -->
        {% include 'components/tutorial_cat.html' %}
        <!-- -->
        {% include 'components/tutorial_squirrel.html' %}
      </div>
      <div class="right">
        <!-- <div id="editor"></div> -->
      </div>
    </div>
  </body>
  <script src="{{prefix}}{{ url_for('static', filename='js/ace.min.js') }}"></script>
  <!-- <script src="static/js/socket.io.min.js"></script> -->
  <script src="{{prefix}}{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{prefix}}{{ url_for('static', filename='js/main.js') }}"></script>
</html>
