<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scratch To Python Converter</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- icon -->
    <link rel="shortcut icon" href="/static/logo.png" />
  </head>

  <body class="light">
    <div class="bg" style="display: none">
      <p style="color: white;" id = "load">Loading...</p>
      <img src="/static/cat1.svg" alt="" id="img1" />
      <img src="/static/cat2.svg" alt="" id="img2" />
    </div>
    <div class="main" id="app">
      <div class="left">
        {% include 'components/header.html' %}
        <!-- -->
        {% include 'components/step1.html' %}
        <!-- -->
        {% include 'components/step2_link.html' %}
        <!-- -->
        {% include 'components/step2_file.html' %}
        <!-- -->
        {% include 'components/step3.html' %}
        <!-- -->
        {% include 'components/step4.html' %}
      </div>
      <div class="right">
        <!-- <div id="editor"></div> -->
      </div>
    </div>
  </body>
  <script src="/static/js/ace.min.js"></script>
  <!-- <script src="/static/js/socket.io.min.js"></script> -->
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/main.js"></script>
</html>
