<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scratch Converter</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      width: 300px;
      height: 100px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .container form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    form label {
      text-align: center;
    }
  </style>
  <body>
    <div class="container">
      {% with messages = get_flashed_messages() %} {% if messages %}
        {% for message in messages %}
          <p style="text-align: center;">{{ message }}</p>
        {% endfor %}
      {% endif %} {% endwith %}
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select file</label>
        <input type="file" name="file" id="file" style="display: none" accept=".sb3" />
        <button type="submit" class="upload">Generate</button>
      </form>
      <!-- <button class="generate"></button> -->
    </div>
    <script>
      var fileInput = document.getElementById("file");
      var label = fileInput.previousElementSibling;

      fileInput.addEventListener("change", function (e) {
        var fileName = "";
        if (this.files && this.files.length > 1) {
          fileName = (this.getAttribute("data-multiple-caption") || "").replace(
            "{count}",
            this.files.length
          );
        } else {
          fileName = e.target.value.split("\\").pop();
        }
        if (fileName) {
          label.innerHTML = fileName;
        } else {
          label.innerHTML = "Select file";
        }
      });
    </script>
  </body>
</html>
