<div class="logo">
  <div class="languageChoices">
    <div class="languageChoice">
      <label for="languageOptions">{{ language }}</label>
      <select name="languageOptions" id="languageOptions" data-lang="{{lang}}">
        <option value="en">{{ english }}</option>
        <option value="de">{{ german }}</option>
        <option value="zh">{{ chinese }}</option>
      </select>
      <p>Scratch To Python Converter {{ version }}</p>
      <p>
        <a href="https://github.com/pystage/pystage" target="_blank">PyStage</a>
        0.0.16
      </p>
    </div>
  </div>
  <img src="/pystage/static/logo.png" alt="logo" />
  <h1>{{ title }}</h1>
</div>
