<div class="logo">
  <div class="languageChoices">
    <div class="languageChoice">
      <label for="languageOptions">{{ language }}</label>
      <select name="languageOptions" id="languageOptions" data-lang="{{lang}}">
        <option value="en">{{ english }}</option>
        <option value="de">{{ german }}</option>
        <option value="zh">{{ chinese }}</option>
      </select>
      <p>{{ title }} {{ version }}</p>
      <p>
        <a href="https://github.com/pystage/pystage" target="_blank">PyStage</a>
        0.0.16
      </p>
      <!-- <p>{{ current_visiting_user }}: {{ users }}</p> -->
    </div>
  </div>
  <img
    src="{{prefix}}{{ url_for('static', filename='img/logo.png') }}"
    alt="logo"
  />
  <h1>{{ title }}</h1>
</div>

