<div class="steps step1">
  <div class="guide">
    <p class="title">{{ description }}</p>
    <p class="step">{{ step1hint }}</p>
  </div>
  <div class="content">
    <div class="btns">
      <div class="btn link">{{ through_link }}</div>
      <div class="btn file">{{ through_file }}</div>
    </div>
    <div class="tutorial">
      <p>{{tutorial}}</p>
    </div>
    <div class="btns">
      <div class="tutorialDog">
        <img
          src="{{prefix}}{{ url_for('static', filename='img/dog2.png') }}"
          id="tutorial1"
          alt="tutorial1"
          width="200px"
          class="no-select"
        />
      </div>
    
      <div class="tutorialCat">
        <img
          src="{{prefix}}{{ url_for('static', filename='img/cat.png') }}"
          id="tutorial2"
          alt="tutorial2"
          width="100px"
          
          class="no-select"
        />
      </div>
    
      <div class="tutorialSquirrel">
        <img
         src="{{prefix}}{{ url_for('static', filename='img/squirrel.png') }}"
          id="tutorial3"
          alt="tutorial3"
          width="200px"
          class="no-select"
       />
      </div>
    </div>
    <div class="btns">
        <p>{{ beginner }}</p>
        <p>{{ mediocre }}</p>
        <p>{{ master }}</p>
    </div>
      <pre style="font-family: 'Times New Roman', Times, serif;">
    
    
    <div class="centered-text"> 
<p><u>{{ WebDevelopers }}</u></p>
    
<p> Branden Husted blh94@calvin.edu </p>  
<p> Zhonglin Niu zn23@calvin.edu </p>
      </pre>
    </div>
  </div>


