<div class="steps step2 link none">
  <div class="guide">
    <p class="title">{{ description }}</p>
    <p class="step">{{ step2hint }}</p>
    <small>{{ step2subhint1 }}</small>
    <small>
      <a href="https://scratch.mit.edu/projects/845126622/" target="_blank">
        https://scratch.mit.edu/projects/845126622/
      </a>
    </small>
  </div>
  <div class="content">
    <input type="text" id="link" placeholder="{{ link_input_placeholder }}" />
    <small>{{ step2subhint2 }}</small>
    <div class="btns">
      <div class="btn back">{{ back }}</div>
      <div class="btn next link_">{{ next }}</div>
    </div>
  </div>
</div>
