<div class="steps step1">
  <div class="guide">
    <p class="title">{{ description }}</p>
    <p class="step">{{ step1hint }}</p>
  </div>
  <div class="content">
    <div class="btns">
      <div class="btn link">{{ through_link }}</div>
      <div class="btn file">{{ through_file }}</div>
    </div>
    <div class="tutorial">
      <p>{{tutorial}}</p>
    </div>
    <div class="tutorialDog">
      <img
        src="{{prefix}}{{ url_for('static', filename='img/dog2.png') }}"
        id="tutorial1"
        alt="tutorial1"
        width="200px"
        class="no-select"
      />
    </div>
  </div>
</div>
