<div class="steps step3 none">
  <div class="guide">
    <p class="title">How to convert a Scratch file to python</p>
    <p class="step">
      Step 3: Choose the language.
    </p>
    <p>The code in black box is the actual command.</p>
    <p>
      <a href="https://github.com/pystage/pystage#import-your-scratch-projects" target="_blank">
        Learn more about pystage!
      </a>
    </p>
  </div>
  <div class="content">
    <div class="command">
      <p>
        python -m pystage.convert.sb3
        <span class="green" id="file_name">unknown.sb3</span> -l
        <span class="green" id="lang"></span>
      </p>
    </div>
    <div class="choices">
      <div class="choice">
        <label for="language">Language</label>
        <select name="language" id="language">
          <option value="en">English</option>
          <option value="de">German</option>
          <option value="zh">Chinese</option>
        </select>
      </div>
    </div>
    <div class="btn generate">Generate</div>
    <div class="btns">
      <div class="btn back">Back</div>
      <div class="btn next">Next</div>
    </div>
  </div>
</div>
