<div class="steps step3 none">
  <div class="guide">
    <p class="title">{{ description }}</p>
    <p class="step">{{ step3hint }}</p>
    <p>{{ step3subhint1 }}</p>
    <p>
      <a
        href="https://github.com/pystage/pystage#import-your-scratch-projects"
        target="_blank"
      >
        {{ step3subhint2 }}
      </a>
    </p>
  </div>
  <div class="content">
    <div class="command">
      <p>
        python -m pystage.convert.sb3
        <span class="green" id="file_name">unknown.sb3</span> -l
        <span class="green" id="lang"></span>
      </p>
    </div>
    <div class="choices">
      <div class="choice">
        <label for="language">{{ language }}</label>
        <select name="language" id="language">
          <option value="en">{{ english }}</option>
          <option value="de">{{ german }}</option>
          <option value="zh" disabled>{{ chinese }}</option>
        </select>
      </div>
    </div>
    <h3 class="msg red"></h3>
    <div class="btn generate">{{ generate }}</div>
    <div class="btns">
      <div class="btn back">{{ back }}</div>
      <div class="btn next">{{ next }}</div>
    </div>
  </div>
</div>
