<div class="steps step4 none">
  <div class="guide">
    <p class="title">How to convert a Scratch file to python</p>
    <p class="step">Step 4: Preview the generated code or download it</p>
  </div>
  <div class="content">
    <div class="btns">
      <button class="btn show-preview">Show Preview</button>
      <button class="btn download">Download</button>
    </div>
    <div class="text-box">
    </div>
    <div class="btns">
      <div class="btn back">Back</div>
      <div class="btn next">Go Back To Step 1</div>
    </div>
  </div>
</div>
