<div class="steps step4 none">
  <div class="guide">
    <p class="title">{{ description }}</p>
    <p class="step">{{ step4hint }}</p>
  </div>
  <div class="content">
    <div class="btns">
      <button class="btn show-preview">{{ show_preview }}</button>
      <button class="btn download">{{ download }}</button>
    </div>
    <div class="text-box"></div>
    <div class="btns">
      <div class="btn back">{{ back }}</div>
      <div class="btn next">{{ back_step1 }}</div>
    </div>
    <div class="thanks">
      <p>{{ thanks_info }}</p>
    </div>
  </div>
</div>
