<div class="steps step2 file none">
  <div class="guide">
    <p class="title">{{ description }}</p>
    <p class="step">
      {{ step2_file }}
      <b>.sb3</b>
    </p>
  </div>
  <div class="content">
    <label for="file" class="selector">{{ select_file }}</label>
    <input
      type="file"
      name="file"
      id="file"
      style="display: none"
      accept=".sb3"
    />
    <div class="btns">
      <div class="btn back">{{ back }}</div>
      <div class="btn next file_">{{ next }}</div>
    </div>
  </div>
</div>
