<div class="steps tutorial_dog_part2 none">
    <div class="centered-text"> 
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b> {{ beginnerTutorial }} </b>  

    
{{ easyTutorialSentence25 }} 

{{ easyTutorialSentence26 }}

        <div class = "btns">
            <img src="{{prefix}}{{ url_for('static', filename='img/saveDot.png') }}" id = "SaveDot" alt="SaveDot" width="500px" /> 
            <img src="{{prefix}}{{ url_for('static', filename='img/copyLink.png') }}" id = "copyLink" alt="copyLink" width="500px" height ="200"/> 
        </div>

{{ easyVideoSentence }}

<a href="https://www.youtube.com/watch?v=Bo3kUF9k0Vg" target="_blank">
https://scratch.mit.edu/projects/845126622/
</a>

<b>{{ easyTutorialSentence27 }}</b>

<p style = 'color: red;'>{{ easyTutorialSentence28 }}</p>{{ easyTutorialSentence29 }}


<p style = 'color: red;'>{{ easyTutorialSentence30 }}</p> {{ easyTutorialSentence31 }}


<p style = 'color: red;'> {{ easyTutorialSentence32 }}</p>  {{ easyTutorialSentence33 }} 


{{ easyTutorialSentence34 }}


{{ easyTutorialSentence35 }}
<img src="{{prefix}}{{ url_for('static', filename='img/box.png') }}" id = "box" alt="box" width="1050px"/>
 
{{ easyTutorialSentence36 }} <a href="https://github.com/pystage/pystage/issues" target="_blank">
https://github.com/pystage/pystage/issues</a> 
{{ easyTutorialSentence37 }}
<button class="tutorialbtn back" >{{ back }}</button>
<button class="tutorialbtn next" >{{ next }}</button>
        </pre>
    </div> 
</div>       




