<div class="steps tutorial_dog_code none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b style="font-family: 'Times New Roman', Times, serif;"> Beginner Tutorial </b>
            <div class="btns">

How to make a basic scratch project.


1. File -> New.

2. Click choose a sprite in the bottom right corner.

3. search for dot in the search bar and click on dot the dog.

4. Next delete the cat by clicking on the trash can on the sprite.

5. Click on Events.

6. Drag When green flag clicked over to the script area.

7. Click on Motion.

8. Drag move 10 steps over to the script area.

9. Click on Sounds.

10. Drag start sound bark over to the script area.

11. Make sure all 3 steps are connected to each other in this exact order

12. Press the green flag to run your project.
                <div class="scratchBox">
                    <img src="{{prefix}}{{ url_for('static', filename='img/scratch.png') }}" id = "Scratch" alt="Scratch" width="750px" height="490px" align="center"/>
                </div>
            </div>
        </pre>
<button class="tutorialbtn back" >{{ back }}</button>
    </div>
</div>