<div class="steps tutorial_dog_code none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b style="font-family: 'Times New Roman', Times, serif;"> Beginner Tutorial </b>
            <div class="btns">

{{ TutorialSentence1 }}


{{ TutorialSentence2 }}

{{ TutorialSentence3 }}

{{ TutorialSentence4 }}

{{ TutorialSentence5 }}

{{ TutorialSentence6 }}

{{ TutorialSentence7 }}

{{ TutorialSentence8 }}

{{ TutorialSentence9 }}

{{ TutorialSentence10 }}

{{ TutorialSentence11 }}

{{ TutorialSentence12 }}

{{ TutorialSentence13 }}
                <div class="scratchBox">
                    <img src="{{prefix}}{{ url_for('static', filename='img/scratch.png') }}" id = "Scratch" alt="Scratch" width="750px" height="490px" align="center"/>
                </div>
            </div>
        </pre>
<button class="tutorialbtn back" >{{ back }}</button>
    </div>
</div>