<div class="steps tutorial_cat none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b style="font-family: 'Times New Roman', Times, serif;"> {{ mediocreTutorial }} </b>

{{ mediumTutorialSentence1 }}
    <div class ="btns">
        <img src="{{prefix}}{{ url_for('static', filename='img/walkingCatCode.png') }}" id = "walkingCatCode" alt="walkingCatCode" width="600px" />
        <iframe src="https://scratch.mit.edu/projects/862101795/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>

{{ mediumTutorialSentence2 }}


{{ mediumTutorialSentence3 }}


{{ mediumTutorialSentence4 }}


<img src="{{prefix}}{{ url_for('static', filename='img/catCode1.png') }}" id = "catCode1" alt="catCode1" width="600px" />


{{ mediumTutorialSentence5 }}


{{ mediumTutorialSentence6 }}


{{ mediumTutorialSentence7 }}


{{ mediumTutorialSentence8 }}


{{ mediumTutorialSentence9 }}


{{ mediumTutorialSentence10 }}

<img src="{{prefix}}{{ url_for('static', filename='img/catCode2.png') }}" id = "catCode2" alt="catCode2" width="600px" />


{{ mediumTutorialSentence11 }}


{{ mediumTutorialSentence12 }}


{{ mediumTutorialSentence13 }}


{{ mediumTutorialSentence14 }}

<img src="{{prefix}}{{ url_for('static', filename='img/catCode3.png') }}" id = "catCode3" alt="catCode3" width="600px" />


{{ mediumTutorialSentence15 }}


{{ mediumTutorialSentence16 }}


        </pre>
<button class="tutorialbtn back" >{{ back }}</button>
<button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>
