<div class="steps tutorial_cat_part2 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> Mediocre Tutorial </b>
    

This code is used when the cheeto touches Sprite1. (the cat)


    <img src="{{prefix}}{{ url_for('static', filename='img/Cheeto.png') }}" id = "requirements" alt="requirements" width="600px" />
        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>