<div class="steps tutorialNext1 none">

    <div class="btns">
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next"> {{ back_step1 }}</button>
    </div>
    <div class="centered-text"><pre>
    
    
    To use PyStage step 1 is to make a scratch project 
    
    and save it to your computer. 

<img src="{{prefix}}{{ url_for('static', filename='img/saveDot.png') }}" id = "SaveDot" alt="SaveDot" width="1000px" align="center"/> 


Or you could copy your project link.


<img src="{{prefix}}{{ url_for('static', filename='img/copyLink.png') }}" id = "copyLink" alt="copyLink" width="1000px" align="center"/> 


<b>Errors that can happen when generating</b>

<p style = 'color: red;'>Error in generating file!</p>this means that your file is not an .sb3 file.


<p style = 'color: red;'>Invalid URL or internal error!</p> URL is incorrect or scratch is having server issues while you are generating your project.

When your project is generated this box will show up explaining what PyStage has not implemented yet.
<img src="{{prefix}}{{ url_for('static', filename='img/box.png') }}" id = "box" alt="box" width="1050px" align="center"/>


Enjoy your converted code!

<iframe src="https://scratch.mit.edu/projects/848001640/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </pre>
</div> 
</div>
