<div class="steps tutorial_squirrel_part3 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> Master Tutorial </b> 


This code is used for the evil squirrel, which is Squirrel2 in our code.

<img src="{{prefix}}{{ url_for('static', filename='img/squirrel2Code1.png') }}" id = "requirements" alt="requirements" width="600px" />
<img src="{{prefix}}{{ url_for('static', filename='img/squirrel2Code2.png') }}" id = "requirements" alt="requirements" width="600px" />
        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>