<div class="steps tutorial_dog none">

    <div class="btns">
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next"> {{ next }}</button>
    </div>
    <div class="centered-text"><pre>

    <img src="{{prefix}}{{ url_for('static', filename='img/dot.png') }}" id = "ScratchForDot" alt="ScratchForDot" width="1350px" align="center"/>
</pre>
    <p><pre>
        
        
   
    This image above shows Dot the dog in his natural habitat which is...SCRATCH!
    

    
    Scratch is the world's largest free coding community for kids and is paving the way for the future of computer science.


    
    This tutorial will help you learn how to convert any scratch project you make into the python programming language.


    
    This next image is part of this project converted into python.

</p>
</pre>
    <img src="{{prefix}}{{ url_for('static', filename='img/dotPython.png') }}" id = "PythonForDot" alt="PythonForDot" width="1050px" align="center"/>
    <p><pre>
    

    
    
    Can you find when timer > 10 block is in the python code and the scratch code?

    
    
    
    I think you are learning! Can you find when the program starts the forest background appears in the python code?


    
    
    To run this conversion in the terminal the command is <b>python -m pystage.convert.sb3 'SB3 File' -l en -d 'DIRECTORY'</b>
    </p>
</pre> 
</div>       
</div>