<div class="steps tutorial_dog_part3 none">
    <div class="centered-text"> 
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b> Beginner Tutorial </b> 
    <button class="tutorialbtn back" >{{ back }}</button>
    <button class="tutorialbtn next" >{{ back_step1 }}</button>

Now that your project is converted into python the next step is to run your project with Visual Studio!

If you do not have Visual Studio you can download it with this link 
    <a href="https://code.visualstudio.com/" target="_blank">
https://code.visualstudio.com/</a>

Download your code on our website.

    <div class="btns">
        <img src="{{prefix}}{{ url_for('static', filename='img/arrow.png') }}" id = "arrow" alt="arrow" width="300px" height="200px" align="center"/>
        <img src="{{prefix}}{{ url_for('static', filename='img/download.png') }}" id = "download" alt="download" width="600px" /> 
    </div>

Take your zip file and unzip it by right-clicking the zip file and clicking <b>extract here.</b>

<img src="{{prefix}}{{ url_for('static', filename='img/unzip.png') }}" id = "unzip" alt="unzip" width="450px" />


Remember when you save your project on your computer it could be helpful for youself to make a seperate folder so you can find your project easily and quickly.


<b>Downloading Python</b>

If you have not downloaded python before open Visual Studio and on the left side of your screen you should see a tab that is called extensions.


Click on extensions and search for python and download the extension shown below.


<img src="{{prefix}}{{ url_for('static', filename='img/downloadPython.png') }}" id = "downloadPython" alt="downloadPython" width="600px" />


<b>Navagate to your folder</b>

Go to Visual Studio and click file and Open Folder and open your unzipped folder.


In the top left of your screen click terminal in visual studio.


In the terminal navigate to your folder with your unzipped code by using the command <b>cd</b>


Your file path may be different to mine, here is an example of my filepath.

        <div class="btns">
            <img src="{{prefix}}{{ url_for('static', filename='img/directory.png') }}" id = "directory" alt="directory" width="600px" />
            <img src="{{prefix}}{{ url_for('static', filename='img/filehelp.png') }}" id = "directory" alt="directory" width="300px" />
        </div>

<b>Requirements to "pip install" before you begin</b>

Open the terminal and pip install the following commands.


For example run <b>pip install wheel</b> and continue to run pip install for everything on the list below.

<img src="{{prefix}}{{ url_for('static', filename='img/requirements.png') }}" id = "requirements" alt="requirements" width="600px" />


Finally after setting up your enviroment you can open your python code.


Right-click inside the Python file editor and select "Run Python File in Terminal" to run the code and it should look like this.

<img src="{{prefix}}{{ url_for('static', filename='img/runCode.png') }}" id = "runCode" alt="runCode" width="600px" />

That is it! Enjoy your converted code!
    </div>
</div>
