<div class="steps tutorial_squirrel_part5 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> {{ masterTutorial }} </b> 


{{ hardTutorialSentence78 }}


{{ hardTutorialSentence79 }}


{{ hardTutorialSentence80 }}

<img src="{{prefix}}{{ url_for('static', filename='img/paint.png') }}" id = "paint" alt="paint" width="600px" />


{{ hardTutorialSentence81 }}


{{ easyVideoSentence }}

<a href="https://www.youtube.com/watch?v=Bo3kUF9k0Vg" target="_blank">
Click here for a tutorial on PyStage!
</a>


<b>{{ easyTutorialSentence27 }}</b>

<p style = 'color: red;'>{{ easyTutorialSentence28 }}</p>{{ easyTutorialSentence29 }}


<p style = 'color: red;'>{{ easyTutorialSentence30 }}</p> {{ easyTutorialSentence31 }}


<p style = 'color: red;'>{{ easyTutorialSentence32 }}</p> {{ easyTutorialSentence33 }} 


{{ easyTutorialSentence34 }}


{{ easyTutorialSentence35 }}
<img src="{{prefix}}{{ url_for('static', filename='img/box.png') }}" id = "box" alt="box" width="1050px"/>
 
{{ easyTutorialSentence36 }} <a href="https://github.com/pystage/pystage/issues" target="_blank">
https://github.com/pystage/pystage/issues</a> 
{{ easyTutorialSentence37 }}

        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ back_step1 }}</button>
    </div>
</div>