<div class="steps tutorial_cat none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b style="font-family: 'Times New Roman', Times, serif;"> Mediocre Tutorial </b>

This tutorial will take you through how to make a simple scratch game with a goal at the end
    <div class ="btns">
        <img src="{{prefix}}{{ url_for('static', filename='img/walkingCatCode.png') }}" id = "requirements" alt="requirements" width="600px" />
        <iframe src="https://scratch.mit.edu/projects/862101795/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>

There is one line of code missing in the image above from the game, can you guess what it is?

        </pre>
<button class="tutorialbtn back" >{{ back }}</button>
<button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>