<div class="steps tutorial_squirrel none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b style="font-family: 'Times New Roman', Times, serif;"> Master Tutorial </b>


This Tutorial will teach you how to use clones and messages in a Scratch game.
            <div class="btns">       
Rules: 

Eat more than 100 donuts in 30 seconds to win! 


Do not let Squirrel2 eats 100 donuts!


Press w to move up, s to move down.


a to move left and d to move right.


Type how many copies of donuts you want.


These donuts will spawn when you start the game.
                <div class="squirrelGame">
                    <iframe src="https://scratch.mit.edu/projects/862149370/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
                </div>
            </div>   
 Can you think of a way you would improve this game to make it better for a user playing the game?   

 <img src="{{prefix}}{{ url_for('static', filename='img/squirrelCode1.png') }}" id = "requirements" alt="requirements" width="600px" />
 <img src="{{prefix}}{{ url_for('static', filename='img/squirrelCode2.png') }}" id = "requirements" alt="requirements" width="600px" />
 <img src="{{prefix}}{{ url_for('static', filename='img/squirrelCode3.png') }}" id = "requirements" alt="requirements" width="600px" />
 
 
        </pre>


<button class="tutorialbtn back" >{{ back }}</button>
<button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>