<div class="steps tutorial_cat_part2 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> {{ mediocreTutorial }} </b>
    

{{ mediumTutorialSentence17 }}


    <img src="{{prefix}}{{ url_for('static', filename='img/Cheeto.png') }}" id = "Cheeto" alt="Cheeto" width="600px" />


<b>{{ mediumTutorialSentence18 }}</b> {{ mediumTutorialSentence19 }}


{{ mediumTutorialSentence20 }}


<b>{{ mediumTutorialSentence21 }}</b> {{ mediumTutorialSentence22 }}


{{ mediumTutorialSentence23 }}


{{ mediumTutorialSentence24 }}


{{ mediumTutorialSentence25 }}


{{ mediumTutorialSentence26 }}



        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>