<div class="steps tutorial_dog_part2 none">
    <div class="centered-text"> 
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b> Tutorial </b>  

    
To use PyStage you first need to make a scratch project 

and save it to your computer or you could copy your project link.

        <div class = "btns">
            <img src="{{prefix}}{{ url_for('static', filename='img/saveDot.png') }}" id = "SaveDot" alt="SaveDot" width="500px" /> 
            <img src="{{prefix}}{{ url_for('static', filename='img/copyLink.png') }}" id = "copyLink" alt="copyLink" width="500px" height ="200"/> 
        </div>

<b>Errors that can happen when generating</b>

<p style = 'color: red;'>Error in generating file!</p>This means that the website could not load the content for your project.


<p style = 'color: red;'>Invalid URL or internal error!</p> URL is incorrect or scratch is having server issues while you are generating your project.



When your project is generated this box will show up explaining what PyStage has not implemented yet.
<img src="{{prefix}}{{ url_for('static', filename='img/box.png') }}" id = "box" alt="box" width="1050px"/>
 
Please go to <a href="https://github.com/pystage/pystage/issues" target="_blank">
https://github.com/pystage/pystage/issues</a> 
if you have any issues to report with PyStage.
<button class="tutorialbtn back" >{{ back }}</button>
<button class="tutorialbtn next" >{{ next }}</button>
        </pre>
    </div> 
</div>       




