<div class="steps tutorial_dog none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b style="font-family: 'Times New Roman', Times, serif;"> {{ beginnerTutorial }} </b>
            
            
{{ easyTutorialSentence1 }}


{{ easyTutorialSentence2 }}


{{ easyTutorialSentence3 }}

            <div class = "btns">
                <img src="{{prefix}}{{ url_for('static', filename='img/dot.png') }}" id = "ScratchCodeForDot" alt="ScratchCodeForDot" width="485px" height="402px" align="center"/>
                <iframe src="https://scratch.mit.edu/projects/860099838/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
            </div>
        </pre>
        <p>
            <pre style="font-family: 'Times New Roman', Times, serif;">

{{ easyTutorialSentence4 }}

{{ easyTutorialSentence5 }}
        <a href="http://scratch.mit.edu" target="_blank">
http://scratch.mit.edu</a>


{{ easyTutorialSentence6 }}


{{ easyTutorialSentence7 }}

{{ easyTutorialSentence8 }}


<b> {{ easyTutorialSentence9 }} </b>

{{ easyTutorialSentence10 }}
            </pre>
        </p>
        <img src="{{prefix}}{{ url_for('static', filename='img/dotPython.png') }}" id = "PythonForDot" alt="PythonForDot" width="1050px" align="center"/>
        <p>
            <pre style="font-family: 'Times New Roman', Times, serif;">
                
                
{{ easyTutorialSentence11 }}
                
                
               
{{ easyTutorialSentence12 }}

        
        <div class = "btns"> 
            <img src="{{prefix}}{{ url_for('static', filename='img/dot.png') }}" id = "ScratchForDot" alt="ScratchForDot" width="300px" height="300px" align="center"/> 
            <img src="{{prefix}}{{ url_for('static', filename='img/arrow.png') }}" id = "arrow" alt="arrow" width="300px" height="200px" align="center"/>
            <img src="{{prefix}}{{ url_for('static', filename='img/dotPython.png') }}" id = "PythonForDot" alt="PythonForDot" width="700px" height="300px" align="center"/> 
        </div>

<b> {{ easyTutorialSentence13 }} </b>

{{ easyTutorialSentence14 }}


{{ easyTutorialSentence15 }}


{{ easyTutorialSentence16 }}

 
<p style="color: red;"> def</p> 
{{ easyTutorialSentence17 }}


        <div class = "btns">
            <img src="{{prefix}}{{ url_for('static', filename='img/downArrow.png') }}" id = "downArrow" alt="downArrow" width="400px" height="300px" align="center"/>

{{ easyTutorialSentence18 }} 


{{ easyTutorialSentence19 }} 


{{ easyTutorialSentence20 }} 


{{ easyTutorialSentence21 }}

{{ easyTutorialSentence22 }}

        </div>

        <img src="{{prefix}}{{ url_for('static', filename='img/upperPythonCode.png') }}" id = "UpPythonForDot" alt="UpPythonForDot" width="1050px" align="center"/>


{{ easyTutorialSentence23 }}

        
        <img src="{{prefix}}{{ url_for('static', filename='img/lowerPythonCode.png') }}" id = "DownPythonForDot" alt="DownPythonForDot" width="1050px" align="center"/>

{{ easyTutorialSentence24 }}

             </pre>
        </p>
    </div> 
    <button class="tutorialbtn back" >{{ back }}</button>
    <button class="tutorialbtn next" >{{ next }}</button>
            
</div>