<div class="steps tutorial_squirrel_part2 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> Master Tutorial </b>    


This code is for cloning the dounuts in our game.  

<img src="{{prefix}}{{ url_for('static', filename='img/dounut.png') }}" id = "requirements" alt="requirements" width="600px" />
        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>