<div class="steps tutorial_squirrel_part2 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> {{ masterTutorial }} </b>    


 {{ hardTutorialSentence36 }}  

<img src="{{prefix}}{{ url_for('static', filename='img/dounut.png') }}" id = "dounut" alt="dounut" width="600px" />


<u>{{ hardTutorialSentence38 }}</u>


<b>{{ hardTutorialSentence39 }} </b> {{ hardTutorialSentence41 }} 


{{ hardTutorialSentence42 }} 


{{ hardTutorialSentence43 }} 


{{ hardTutorialSentence44 }} 


{{ hardTutorialSentence45 }} 


<b>{{ hardTutorialSentence46 }} </b> {{ hardTutorialSentence47 }} 


{{ hardTutorialSentence48 }} 


{{ hardTutorialSentence49 }} 


{{ hardTutorialSentence50 }} 


{{ hardTutorialSentence51 }} 


{{ hardTutorialSentence52 }} 


<img src="{{prefix}}{{ url_for('static', filename='img/brownian_motion.png') }}" id = "brownian_motion" alt="brownian_motion" width="600px" />

{{ hardTutorialSentence53 }} 


{{ hardTutorialSentence54 }} 


{{ hardTutorialSentence55 }} 


{{ hardTutorialSentence56 }} 


<b>{{ hardTutorialSentence57 }} </b> {{ hardTutorialSentence58 }} 


{{ hardTutorialSentence59 }} 


{{ hardTutorialSentence60 }}  


{{ hardTutorialSentence61 }} 

<img src="{{prefix}}{{ url_for('static', filename='img/go.png') }}" id = "brownian_motion" alt="brownian_motion" width="600px" />


        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>