<div class="steps tutorial_squirrel_part3 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> {{ masterTutorial }} </b> 


{{ hardTutorialSentence62 }}

<img src="{{prefix}}{{ url_for('static', filename='img/squirrel2Code1.png') }}" id = "squirrel2Code1" alt="squirrel2Code1" width="600px" />


<b>{{ hardTutorialSentence63 }}</b> {{ hardTutorialSentence64 }}


<b>{{ hardTutorialSentence65 }}</b> {{ hardTutorialSentence66 }}


<b>{{ hardTutorialSentence67 }}</b> {{ hardTutorialSentence68 }}


<img src="{{prefix}}{{ url_for('static', filename='img/squirrel2Code2.png') }}" id = "squirrel2Code2" alt="squirrel2Code2" width="600px" />


<b>{{ hardTutorialSentence69 }}</b> {{ hardTutorialSentence70 }}


<b>{{ hardTutorialSentence71 }}</b> {{ hardTutorialSentence72 }}


{{ hardTutorialSentence73 }}


<b>{{ hardTutorialSentence74 }}</b> {{ hardTutorialSentence75 }}

        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>