<div class="steps tutorial_squirrel_part4 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> {{ masterTutorial }} </b> 

{{ hardTutorialSentence76 }}

{{ hardTutorialSentence77 }}

{{ green }}

    <div class="btns">
1.<img src="{{prefix}}{{ url_for('static', filename='img/dot.png') }}" id = "dot" alt="dot" width="600px" />

<img src="{{prefix}}{{ url_for('static', filename='img/go.png') }}" id = "go" alt="go" width="600px" />
    </div>
<img src="{{prefix}}{{ url_for('static', filename='img/squirrelPythonCode1.png') }}" id = "squirrelPythonCode1" alt="squirrelPythonCode1" width="600px" />
    <div class="btns">
2.<img src="{{prefix}}{{ url_for('static', filename='img/codeSample2.png') }}" id = "codeSample2" alt="codeSample2" width="600px" />

<img src="{{prefix}}{{ url_for('static', filename='img/someCode.png') }}" id = "someCode" alt="someCode" width="600px" />
    </div>
<img src="{{prefix}}{{ url_for('static', filename='img/pythonCodesample5.png') }}" id = "codeSample" alt="codeSample" width="600px" />
    <div class="btns">
3.<img src="{{prefix}}{{ url_for('static', filename='img/scratchExample1.png') }}" id = "scratchExample1" alt="scratchExample1" width="600px" /> 

<img src="{{prefix}}{{ url_for('static', filename='img/scratchExample2.png') }}" id = "scratchExample2" alt="scratchExample2" width="600px" /> 
    </div>
<img src="{{prefix}}{{ url_for('static', filename='img/pythonCodeSample6.png') }}" id = "pythonCodeSample6" alt="pythonCodeSample6" width="600px" /> 
        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>