<div class="steps tutorial_cat_part3 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> {{ mediocreTutorial }} </b>

            {{ mediumTutorialSentence27 }}
                    </pre>
                </div>
                <img src="{{prefix}}{{ url_for('static', filename='img/catCode4.png') }}" id = "catCode4" alt="catCode4" width="600px" />  
            
                <img src="{{prefix}}{{ url_for('static', filename='img/pythonCodesample6.png') }}" id = "pythonCodesample6" alt="pythonCodesample6" width="600px" /> 
            
                <div class="btns">
                    <img src="{{prefix}}{{ url_for('static', filename='img/catCode6.png') }}" id = "catCode6" alt="catCode6" width="600px" />
                    <img src="{{prefix}}{{ url_for('static', filename='img/catCode5.png') }}" id = "catCode5" alt="catCode5" width="600px" />
                </div>
                    <div class="centered-text">
            
            
            <pre style="font-family: 'Times New Roman', Times, serif;">
            
            {{ mediumTutorialSentence28 }}
    <div class="btns">
        <img src="{{prefix}}{{ url_for('static', filename='img/catCode1.png') }}" id = "requirements" alt="requirements" width="600px" />

        <img src="{{prefix}}{{ url_for('static', filename='img/catCode2.png') }}" id = "requirements" alt="requirements" width="600px" />
    </div>

    {{ mediumTutorialSentence29 }}


    <b>{{ mediumTutorialSentence30 }}</b>
    
    
    {{ easyVideoSentence }}
    
    <a href="https://www.youtube.com/watch?v=Bo3kUF9k0Vg" target="_blank">
    Click here for a tutorial on PyStage!
    </a>
    
    
    <b>{{ easyTutorialSentence27 }}</b>
    
    <p style = 'color: red;'>{{ easyTutorialSentence28 }}</p>{{ easyTutorialSentence29 }}
    
    
<p style = 'color: red;'>{{ easyTutorialSentence30 }}</p> {{ easyTutorialSentence31 }}
     
  
<p style = 'color: red;'>{{ easyTutorialSentence32 }}</p> {{ easyTutorialSentence33 }} 
    
    
{{ easyTutorialSentence34 }}
    
    
{{ easyTutorialSentence35 }}

<img src="{{prefix}}{{ url_for('static', filename='img/box.png') }}" id = "box" alt="box" width="1050px"/>
     
{{ easyTutorialSentence36 }} <a href="https://github.com/pystage/pystage/issues" target="_blank">
https://github.com/pystage/pystage/issues</a> 
{{ easyTutorialSentence37 }}
        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ back_step1 }}</button>
    
        </div>
    </div>
