<div class="steps tutorial_squirrel_part5 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> Master Tutorial </b> 


You can also draw on your sprite to make your character anything you want it to be.


Click costumes in the scratch editor and click fill to choose your color!


You can draw, create a line, circle, square, add text, fill an area with color, erase and select your sprite.

<img src="{{prefix}}{{ url_for('static', filename='img/paint.png') }}" id = "requirements" alt="requirements" width="600px" />


Now your sprite will look like what you have drawn in game.


<b>Errors that can happen when generating</b>

<p style = 'color: red;'>Error in generating file!</p>This means that the website could not load the content for your project.


<p style = 'color: red;'>Invalid URL or internal error!</p> URL is incorrect or scratch is having server issues while you are generating your project.


<p style = 'color: red;'>Unknown Error</p> Most likely there is something not implemented yet that you used in your project. 


Keep in mind PyStage is in working development and not everything may work as intended yet.


When your project is generated this box will show up explaining what PyStage has not implemented yet.
<img src="{{prefix}}{{ url_for('static', filename='img/box.png') }}" id = "box" alt="box" width="1050px"/>
 
Please go to <a href="https://github.com/pystage/pystage/issues" target="_blank">
https://github.com/pystage/pystage/issues</a> 
if you have any issues to report with PyStage.

        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>