<div class="steps tutorial_squirrel_part2 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> Master Tutorial </b>    


This code is for the donut sprite in our game.  

<img src="{{prefix}}{{ url_for('static', filename='img/dounut.png') }}" id = "requirements" alt="requirements" width="600px" />


This block of code activates when you enter the number of clones you want and clones the donuts.


<b>When I receive go!</b> refers to the type box that shows up when you start the game.


We receive the message go! when the blue flag is clicked in the type box.


This box asks you how many copies of donuts you want to spawn when you play the game.


Once you press the check mark on the type box we hide the text box and spawn the donuts.


We repeat the number of clones typed in the type box and make them go to a random position.


We then set x2 to an x position and set y2 to an y position and create clone of myself.


<b>When I start as a clone</b> the donut goes to x: x2 and y: y2.


This makes the donuts spawn in random locations.


We set rotation style to don't rotate and show the donuts.


We loop forever <b>brownian motion</b>. Brownian motion is a block in Scratch.


A block in scratch acts like a built in function that can be called at any time.


Then we glide the donuts for 5 seconds to a random position.


<img src="{{prefix}}{{ url_for('static', filename='img/brownian_motion.png') }}" id = "requirements" alt="requirements" width="600px" />

To make a block in Scratch follow these steps:


1. Click My blocks


2. Make a block


3. Name your block and press ok.


<b>Brownian motion</b> turns a random number from 0 to 359 degrees and moves variation of steps.


Variation is a variable like x2, y2 and num clones that changes the motion of each individual donuts.


To make a variable Click Variables in Scratch and click Make A variable and name this variable variation 


Click for this sprite only and set variation to 5.





        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>