<div class="steps tutorial_squirrel_part3 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> Master Tutorial </b> 


This code is used for the evil squirrel, which is Squirrel2 in our code.

<img src="{{prefix}}{{ url_for('static', filename='img/squirrel2Code1.png') }}" id = "requirements" alt="requirements" width="600px" />


<b>When any key is pressed</b> if squirrel2 is touching Donut then the variable Squirrel2 donuts change by 1.


<b>When green flag clicked</b> loop forever a message and glide for 5 seconds to a random position.


<b>When green flag clicked</b> reset Squirrel2 donuts to 0.


<img src="{{prefix}}{{ url_for('static', filename='img/squirrel2Code2.png') }}" id = "requirements" alt="requirements" width="600px" />


<b>When any key pressed</b> if squirrel's donuts is greater then 100 then set Squirrel2 donuts to 0.


<b>When any key is pressed</b> if Squirrel2 donuts is greater then 99 then loop forever.


We set Squirrel2's size to 100% and switch backdrop to stars and stop all other commands.


<b>When backdrop switches to stars</b> if Squirrel2 donuts is greater then 99 then say a message.

        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>