<div class="steps tutorial_dog_part3 none">
    <div class="centered-text"> 
        <pre style="font-family: 'Times New Roman', Times, serif;">
<b> {{ beginnerTutorial }} </b> 
    <button class="tutorialbtn back" >{{ back }}</button>
    <button class="tutorialbtn next" >{{ back_step1 }}</button>

{{ easyTutorialSentence38 }}

{{ easyTutorialSentence39 }}
    <a href="https://code.visualstudio.com/" target="_blank">
https://code.visualstudio.com/</a>

{{ easyTutorialSentence40 }}

    <div class="btns">
        <img src="{{prefix}}{{ url_for('static', filename='img/arrow.png') }}" id = "arrow" alt="arrow" width="300px" height="200px" align="center"/>
        <img src="{{prefix}}{{ url_for('static', filename='img/download.png') }}" id = "download" alt="download" width="600px" /> 
    </div>

    {{ easyTutorialSentence41 }} <b>{{ extractHere }}</b>

<img src="{{prefix}}{{ url_for('static', filename='img/unzip.png') }}" id = "unzip" alt="unzip" width="450px" />


{{ easyTutorialSentence42 }}


<b>{{ easyTutorialSentence43 }}</b>

{{ easyTutorialSentence44 }}


{{ easyTutorialSentence45 }}


{{ easyTutorialSentence46 }}


{{ easyTutorialSentence47 }}

        <div class="btns">
            <img src="{{prefix}}{{ url_for('static', filename='img/directory.png') }}" id = "directory" alt="directory" width="600px" />
            <img src="{{prefix}}{{ url_for('static', filename='img/filehelp.png') }}" id = "filehelp" alt="filehelp" width="300px" />
        </div>

<b>{{ easyTutorialSentence48 }}</b>

{{ easyTutorialSentence49 }}
        
        
{{ easyTutorialSentence50 }}
        
        
<img src="{{prefix}}{{ url_for('static', filename='img/downloadPython.png') }}" id = "downloadPython" alt="downloadPython" width="600px" />

<b>{{ easyTutorialSentence51 }}</b>

{{ easyTutorialSentence52 }}


{{ easyTutorialSentence53 }}

<img src="{{prefix}}{{ url_for('static', filename='img/requirements.png') }}" id = "requirements" alt="requirements" width="600px" />


{{ easyTutorialSentence54 }}


{{ easyTutorialSentence55 }}

{{ easyTutorialSentence56 }}

<img src="{{prefix}}{{ url_for('static', filename='img/runCode.png') }}" id = "runCode" alt="runCode" width="600px" />

{{ easyTutorialSentence57 }}
        </pre>
    </div>
</div>
